.App {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.add-button {
   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.delete-button {
   background-color: #f44336; /* Red */
     border: none;
     color: white;
     padding: 5px 12px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 10px;
}
